@page "/"
@inject IProfileViewModel profileViewModel
<h1>Profile</h1>
<div class="col-8">
    <input type="text" class="form-control" @bind-value="profileViewModel.FirstName" placeholder="First Name" />
    <br />
    <input type="text" class="form-control" @bind-value="profileViewModel.LastName" placeholder="Last Name" />
    <br />
    <input type="text" class="form-control" @bind-value="profileViewModel.Email" placeholder="Email Address" />
    <br />
    <textarea class="form-control" @bind="profileViewModel.AboutMe" placeholder="About Me"></textarea>
    <br />  
    <button class="btn btn-primary" @onclick="profileViewModel.UpdateProfile">Update Profile</button>
    <span>&nbsp;&nbsp;</span>@profileViewModel.message
</div>

@code{ 

    protected override async Task OnInitializedAsync() => await profileViewModel.GetProfile();

}
