@page "/settings"
@using BlazingChat.Client.ViewModels
@inject ISettingsViewModel _settingsViewModel
@inject NavigationManager navigationManager
@inject HttpClient http

<h2><b>Settings</b></h2>
<hr />

<div class="col-12">
    <input type="checkbox" @bind="@_settingsViewModel.Notifications" id="chkNotification">
    <label> Notification </label>
    <br>

    <input type="checkbox" @bind="@_settingsViewModel.DarkTheme" id="chkDarkTheme">
    <label> Dark Theme </label>
    <br>
</div>
<div class="col-12">
    <button class="btn btn-primary" @onclick="_settingsViewModel.Save">Save</button>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await _settingsViewModel.GetProfile();
        }
        catch (System.Net.Http.HttpRequestException ex)
        {

            if (ex.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                await http.GetAsync("user/logoutuser");
                navigationManager.NavigateTo("/", true);
            }
        }
    }

}